[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
mypy = "*"
django-debug-toolbar = "*"
django-debug-toolbar-force = "*"
django-stubs = "*"

[packages]
numpy = "*"
sortedcontainers = "*"
h5py = "*"
equation = "*"
dynaconf = {extras = ["yaml"],version = "*"}
django = "==2.2.*"
django-fieldsignals = "*"
pillow = "*"
django-currentuser = "*"

[requires]
python_version = "3.7"
