/* Global styles */

html {
    min-height: 100%;
    background: linear-gradient(0, #e9ecef 50%, #fff 50%);
}

main {
    padding-bottom: 2rem;
}

footer {
    background-color: #e9ecef;
    font-size: 85%;
}

footer a {
    font-weight: 600;
    color: #495057;
}

footer a:hover {
    color: var(--primary);
}

/* Generic styles */

.description {
    font-size: 0.875rem;
}

abbr {
    text-decoration-thickness: 0;
}

/* Visualization styles */

body.loading {
    cursor: wait !important;
}

body.vz-fullscreen {
    overflow: hidden;
}

body.vz-fullscreen .vz-container {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

body.vz-fullscreen .vz-container.card {
    border: 0;
}

body.vz-fullscreen .vz-view {
    width: 100%;
    height: 100%;
}

.vz-view, body.vz-fullscreen .vz-placeholder {
    height: 400px;
    margin: 0 auto;
}

body.vz-fullscreen .vz-placeholder {
    position: static;
}

.vz-loader {
    visibility: hidden;
}

/** Viz: workaround to fix bootstrap interference in plotly modebar */
.plotly svg {
    vertical-align: baseline;
}

/* Viability problem page */

/** VP: main image */

img.vino-right {
    float: right;
}

@media (max-width: 767.98px) {
    img.vino-right {
        max-width: 100%;
        height: auto;
    }
}

/** VP: problem description */

.card-body p:last-child {
    margin-bottom: 0;
}

.vp.card-group .card {
    flex: 2 1 auto;
}

/** VP: math formulas */

@media (max-width: 767.98px) {
    /* Smaller MathJax text size when width < breakpoint-md */
    .MathJax {
        font-size: 0.875rem !important;
    }
}

/** VP: kernels table */

#kernels-table {
    margin-bottom: 0;
}

.table .btn {
    padding: 0;
    width: 22px;
    height: 22px;
    line-height: 22px;
    font-size: 0.75rem;
}

.icn {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    color: #333;
    width: 24px;
    height: 24px;
    line-height: 24px;
}

.table td.min, .table th.min {
    width: 1%;
    white-space: nowrap;
}

.table td.merge-right, th.merge-right {
    border-right: 0;
}

.table td.merge-right + td, .table th.merge-right + th {
    border-left: 0;
}

.table tr th:last-child, .table tr td:last-child {
    text-align: right;
}

.table tr td[colspan] {
    text-align: left !important;
}

.table td, .table th {
    white-space: nowrap;
}

/* Home page */

/** Home: VP card */

.vp.card .list-group b {
    font-size: 85%;
    margin-right: auto;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.vp.card .list-group-item {
    padding: .25rem 1.25rem;
}

.vp.card .list-group-item .badge {
    margin-left: .25rem;
}
