/* Global styles */

html {
    min-height: 100%;
    background: linear-gradient(0, #e9ecef 50%, #fff 50%);
}

main {
    padding-bottom: 2rem;
}

footer {
    background-color: #e9ecef;
    font-size: 85%;
}

footer a {
    font-weight: 600;
    color: #495057;
}

footer a:hover {
    color: var(--primary);
}

/* Generic styles */

.description {
    font-size: 0.875rem;
}

/* Visualization styles */

body.loading {
    cursor: wait !important;
}

.vz-view {
    height: 400px;
    margin: 0 auto;
}

.vz-loader {
    visibility: hidden;
}

/** Viz: workaround to fix bootstrap interference in plotly modebar */
.plotly svg {
    vertical-align: baseline;
}

/* Viability problem page */

/** VP: main image */

img.vino-right {
    float: right;
}

@media (max-width: 767.98px) {
    img.vino-right {
        max-width: 100%;
        height: auto;
    }
}

/** VP: problem description */

.card-body p:last-child {
    margin-bottom: 0;
}

.vp.card-group .card {
    flex: 2 1 auto;
}

/** VP: math formulas */

@media (max-width: 767.98px) {
    /* Smaller MathJax text size when width < breakpoint-md */
    .MathJax {
        font-size: 0.875rem !important;
    }
}

/** VP: kernels table */

.table .btn {
    padding: 0;
    width: 22px;
    height: 22px;
    line-height: 22px;
    font-size: 0.75rem;
}

.table td.min, .table th.min {
    width: 1%;
    white-space: nowrap;
}

.table td.merge-right, th.merge-right {
    border-right: 0;
}

.table td.merge-right + td, .table th.merge-right + th {
    border-left: 0;
}

.table tr th:last-child, .table tr td:last-child {
    text-align: right;
}

.table tr td[colspan] {
    text-align: left !important;
}

.table td, .table th {
    white-space: nowrap;
}

/* Home page */

/** Home: VP card */

.vp.card .list-group b {
    font-size: 85%;
    margin-right: auto;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.vp.card .list-group-item {
    padding: .25rem 1.25rem;
}

.vp.card .list-group-item .badge {
    margin-left: .25rem;
}

/** Home: VP card experiment */

.vp2 img {
    -webkit-transition: 0.2s opacity ease, 0.2s -webkit-filter ease;
    -moz-transition: 0.2s opacity ease, 0.2s -moz-filter ease;
    -moz-transition: 0.2s opacity ease, 0.2s filter ease;
    -ms-transition: 0.2s opacity ease, 0.2s -ms-filter ease;
    -o-transition: 0.2s opacity ease, 0.2s -o-filter ease;
    transition: 0.2s opacity ease, 0.2s filter ease, 0.2s -webkit-filter ease;
    opacity: 0.2;
    filter: saturate(60%) blur(1px);
}

.vp2 .card {
    overflow: hidden;
}

.vp2 .card:hover img {
    opacity: 0.4;
    filter: none;
}

.vp2 .list-group {
    margin: 0 -1.25rem;
}

.vp2 .list-group-item {
    background-color: transparent;
}

.vp2 a {
    color: inherit;
}
