    <nav class="flex-grow-1" aria-label="Pagination">
        <ul class="pagination mb-0">
            <li class="page-item disabled">
                <a class="page-link" href="#">
                    <i class="fas fa-angle-left" aria-hidden="true"></i>
                </a>
            </li>
            <li class="page-item active">
                <a class="page-link" href="{% url 'explore' %}">1</a>
            </li>
            <li class="page-item disabled">
                <a class="page-link" href="#">
                    <i class="fas fa-angle-right" aria-hidden="true"></i>
                </a>
            </li>
        </ul>
    </nav>
