<div class="kernel card mt-4">
    <div class="card-header px-3 py-2">
        <form>
            <div class="form-inline">
                <label for="kernel-{{ id }}" class="fas fa-chart-bar"></label>
                <select id="kernel-{{ id }}" name="kernel" class="custom-select custom-select-sm mx-sm-2">
                    {% for pk, title in kernels %}
                    <option value="{{ pk }}">{{ title }}</option>
                    {% endfor %}
                </select>
                <button type="submit" class="btn btn-sm btn-primary">Plot</button>
                <div class="loader spinner-grow spinner-grow-sm ml-auto" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
        </form>
    </div>
    <div class="card-body p-0">
        <div class="view"></div>
    </div>
</div>
