<div class="vz-container card" data-id="{{ id }}">
    <div class="card-header px-3 py-2">
        <form>
            <div class="form-inline">
                {% if kernels %}
                <div class="form-group mr-2" title="ViNO">
                    <label for="kernel-{{ id }}" class="fas fa-chart-bar"></label>
                    <div class="input-group mx-2">
                        <select id="kernel-{{ id }}" name="kernel" class="custom-select custom-select-sm">
                            {% for k in kernels %}
                            <option value="{{ k.pk }}">{{ k.title }} ({{ k.size_with_unit }})</option>
                            {% endfor %}
                        </select>
                        <div class="input-group-append">
                            <button type="submit" class="btn btn-sm btn-primary">
                                <i class="fas fa-sync-alt"></i>
                            </button>
                        </div>
                    </div>
                </div>
                {% else %}
                <input type="hidden" name="kernel" value="">
                {% endif %}
                <div class="form-group mr-3" title="Points per axis">
                    <label for="ppa-{{ id }}">
                        <i class="fas fa-ruler"></i>
                    </label>
                    <input id="ppa-{{ id }}" name="ppa" type="number" size="5"
                        placeholder="PPA" class="form-control form-control-sm ml-2">
                </div>
                <div class="custom-control custom-checkbox mr-3" title="Show rectangles">
                    <input id="show-shapes-{{ id }}" type="checkbox" class="custom-control-input" checked>
                    <label class="custom-control-label" for="show-shapes-{{ id }}">
                        <i class="fas fa-object-ungroup"></i>
                        &nbsp;<!-- This non-breaking space fixes vertical align -->
                    </label>
                </div>
                <div class="custom-control custom-checkbox mr-3" title="Show distances">
                    <input id="show-distances-{{ id }}" type="checkbox" class="custom-control-input">
                    <label class="custom-control-label" for="show-distances-{{ id }}">
                        <i class="fas fa-drafting-compass"></i>
                        &nbsp;<!-- This non-breaking space fixes vertical align -->
                    </label>
                </div>
                <button id="fullscreen-{{ id }}" type="button" class="btn btn-sm btn-primary" title="Fullscreen">
                    <i class="fas fa-expand" aria-hidden="true"></i>
                </button>
                <div class="vz-loader spinner-grow spinner-grow-sm ml-auto" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
        </form>
    </div>
    <div class="card-body p-0">
        <div class="vz-view"></div>
    </div>
</div>
<div class="vz-placeholder"></div>
