{% extends "base.html" %}
{% load staticfiles %}
{% block body %}
    <div class="container mt-3 mt-md-5">
        <h2>About ViNO website</h2>
        <p>This website is a prototype for sharing computed viable objects: trajectory sets, viability kernels, capture basins, etc. We think that this project can help to compare viability algorithms, and to help potential users to exploit viable objects. Actually, there are several algorithms and even more implementations of these algorithms. Since it is generally difficult to obtain viable objects, they are underused. The aim of ViNO is to bring together researchers and users to be more effective in the development, evaluation and presentation of numerical solutions to viability problems.</p>
        <p>The interest of this platform is to show the results obtained on different problems, from simple to complex, and to encourage the comparison of results of the different methods and softwares.</p>
        <p>The aim is to stimulate trade and allow better selection of methods according to the characteristics of the viability problems under consideration, which will facilitate the application to concrete problems.</p>
        <h2>Au sujet du site ViNO</h2>
        <p>Ce site Web est un projet pour favoriser le partage et la réutilisation d'objets numériques viables ou résilients. Il existe de nombreuses méthodes pour calculer des ensembles de trajectoires ou des domaines dans lesquels un système en évolution reste viable ou résilient. L'objectif de ViNO est de rapprocher les chercheurs et les utilisateurs potentiels pour augmenter les synergies dans le développement, l'évaluation, la présentation et l'utilisation de solutions numériques aux problèmes de viabilité.</p>
        <p>La plate-forme prototype permet de montrer les résultats obtenus sur différents problèmes, qu'ils soient simples ou complexes. Elle permet de comparer les résultats de différentes méthodes, algorithmes et logiciels. Elle propose aussi des outils pour explorer les résultats obtenus.</p>
        <p>Ce site a été financé en partie par le Réseau National des Systèmes Complexes (RNSC) et par l'<a href="https://www.inrae.fr/" target="_blank">INRAE</a>.</p>
    </div>
{% endblock %}
