{% extends "base.html" %}
{% load staticfiles %}
{% block body %}
    <div class="container mt-3 mt-md-5">
        <h2>About Vino</h2>
        <p>This website is a prototype for sharing computed viability kernels. We think that this project can help to compare viability algorithms. Actually, there are several algorithms and even more implementations of these algorithms. The aim of ViNO is to bring together researchers and users to be more effective in the development, evaluation and presentation of numerical solutions to viability problems.</p>
        <p>The interest of this platform is to show the results obtained on different problems, from simple to complex, and to encourage the comparison of results of the different methods and softwares.</p>
        <p>The aim is to stimulate trade and allow better selection of methods according to the characteristics of the viability problems under consideration, which will facilitate the application to concrete problems.</p>
        <p>For more information, you can visit the <a href="https://sourcesup.renater.fr/wiki/vino/index">legacy wiki</a>.</p>
    </div>
{% endblock %}
