{% extends "base.html" %}
{% load staticfiles %}
{% load sharekernel %}
{% block head %}
    {{ block.super }}
    <script src="{% static 'vendor/js/plotly-2.11.1.min.js' %}"></script>
    <script src="{% static 'js/visualize.js' %}"></script>
    <script src="{% static 'js/viabilityproblem.js' %}"></script>
    <script>
        URL_KERNEL_DATA = (pk) => "{% url 'kernel_data' 42 %}".replace('42', pk);
    </script>
    <script id="MathJax-script" async src="{% static 'vendor/js/mathjax-tex-chtml-3.0.5.min.js' %}"></script>
{% endblock %}
{% block body %}
    <div class="container-xl mt-3 mt-md-5">
        <div class="clearfix pb-3">
            {% if vp.image %}
            <img src="{{ vp.image.url }}" class="rounded vino-right ml-3 mb-3" height="180" alt="{{ vp.title }}">
            {% endif %}
            <h2>{{ vp.title }}</h2>
            <p><small class="text-muted">
                Created by {{ vp.owner.get_full_name }}
                &ndash; {{ vp.date_created|date:"DATETIME_FORMAT" }}
                &ndash; Last updated on {{ vp.date_updated|date:"DATETIME_FORMAT"|lowfirst }}
            </small></p>
            <p>{{ vp.description }}</p>
        </div>
        <div class="vp card-group">
            <div class="card">
                <div class="card-header">
                    Model
                </div>
                <div class="card-body">
                {% if vp.state_dimension > 0 %}
                    <h6 class="card-subtitle mb-2 text-muted">{{ vp.state_dimension}}-dimensional state space</h6>
                    {% for v in vp.state_variables %}
                    <div class="d-flex justify-content-between align-items-center">
                        <span>{{ v.name|mathjax }}</span>
                        {{ v.longname }}
                    </div>
                    {% endfor %}
                {% endif %}
                {% if vp.control_dimension > 0 %}
                    <h6 class="card-subtitle mt-3 mb-2 text-muted">{{ vp.control_dimension}}-dimensional control space</h6>
                    <div class="mb-3">
                    {% for v in vp.control_variables %}
                        <div class="d-flex justify-content-between align-items-center">
                            <span>{{ v.name|mathjax }}</span>
                            {{ v.longname }}
                        </div>
                    {% endfor %}
                    </div>
                {% endif %}
                </div>
            </div>
            <div class="card">
                <div class="card-header">Dynamics</div>
                <div class="card-body">
                    <p>
                    {% for stmt in vp.dynamics.showable_statements %}
                        {{ stmt|mathjax }}<br>
                    {% endfor %}
                    </p>
                    <p>
                    {% for stmt in vp.controls.showable_statements %}
                        {{ stmt|mathjax }}<br>
                    {% endfor %}
                    <p>
                    <p>
                        Parameters: {{ vp.dynamics_parameters|pluck:"name"|mathjax_list|join:", " }}
                    </p>
                </div>
            </div>
            <div class="card">
                <div class="card-header">Constraints</div>
                <div class="card-body">
                    <p>
                    {% for stmt in vp.constraints.showable_statements %}
                        {{ stmt|mathjax }}<br>
                    {% endfor %}
                    </p>
                    <p>
                    {% for stmt in vp.domain.showable_statements %}
                        {{ stmt|mathjax }}<br>
                    {% endfor %}
                    </p>
                    <p>
                        Parameters: {{ vp.constraint_parameters|pluck:"name"|mathjax_list|join:", " }}
                    </p>
                </div>
            </div>
        </div>
        <h3 id="kernels" class="mt-5">ViNOs</h3>
        <div class="table-responsive mb-3">
            <table id="kernels-table" class="table table-sm table-hover table-bordered small">
                <thead>
                    <tr>
                        <th scope="col" class="min merge-right"></th>
                        <th scope="col">Title</th>
                        <th scope="col">Date</th>
                        <th scope="col">Published by</th>
                        <th scope="col">Software</th>
                        <th scope="col">Format</th>
                        <th scope="col" class="text-right">Size</th>
                        <th scope="col" class="text-right merge-right">File size</th>
                        <th scope="col" class="min"></th>
                    </tr>
                </thead>
                {% for p in vp.parametersets.all %}
                <tbody>
                    <tr>
                        <td class="bg-white merge-right"></td>
                        <td colspan="8" class="bg-white"><small>Parameters values: {{ p.fields_definition|mathjax }}</small></td>
                    </tr>
                    {% for k in p.kernels.all %}
                    <tr data-kernel-id="{{ k.pk }}">
                        <td class="merge-right">
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" id="select-kernel-{{ k.pk }}">
                                <label class="form-check-label" for="select-kernel-{{ k.pk }}"></label>
                            </div>
                        </td>
                        <td>{{ k.title }}</td>
                        <td>{{ k.date_created }}</td>
                        <td>{{ k.owner.get_full_name }}</td>
                        <td>
                            <abbr title="Click to read more" data-bs-toggle="modal" data-bs-target="#modal" data-subject="software:{{ k.software.pk }}">
                                {{ k.software }}
                            </abbr>
                        </td>
                        <td>
                            <abbr title="Click to read more" data-bs-toggle="modal" data-bs-target="#modal" data-subject="dataformat:{{ k.format.pk }}">
                                {{ k.format }}
                            </abbr>
                        </td>
                        <td class="text-right">{{ k.size_with_unit|default:"-" }}</td>
                        <td class="text-right merge-right">{{ k.datafile.size|filesizeformat }}</td>
                        <td>
                            <a href="{{ k.datafile.url }}" class="btn btn-primary btn-sm" download>
                                <i class="fas fa-file-download"></i>
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
                {% endfor %}
            </table>
        </div>
        {% visualize vp.kernels %}
    </div>
    {% include 'modal.html' with database=database %}
{% endblock %}
