{% extends "base.html" %}
{% load staticfiles %}
{% block head %}
    {{block.super}}
    <script src="{% static 'js/vendor/plotly-1.52.3.min.js' %}"></script>
    <script src="{% static 'js/visualization.js' %}"></script>
{% endblock %}
{% block body %}
    <div class="card mt-4">
        <div class="card-header py-2 d-flex align-items-center">
            <form id="action" class="form-inline">
                <label for="url">Visualize</label>
                <div class="form-group mx-sm-2">
                    <input type="text" id="url" name="url" class="form-control form-control-sm" size="50" value="/kernel/1/data">
                </div>
                <button type="submit" class="btn btn-sm btn-primary">Plot</button>
            </form>
            <div class="loader spinner-grow spinner-grow-sm ml-auto" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        <div class="card-body p-0">
            <div class="view"></div>
        </div>
    </div>
    <script>

var viz;

document.addEventListener('DOMContentLoaded', () => {
    viz = new Visualization('.card');
    var form = viz.element.querySelector('form');
    form.addEventListener('submit', e => {
        viz.load();
        e.preventDefault();
    });
});

    </script>
{% endblock %}
