{% extends "base.html" %}
{% load staticfiles %}
{% load sharekernel %}
{% block body %}
    <div class="container mt-3">
        {% visualize kernels %}
    </div>
    <script src="{% static 'vendor/js/plotly-1.54.1.min.js' %}"></script>
    <script src="{% static 'js/visualize.js' %}"></script>
    <script>
        URL_KERNEL_DATA = (pk) => "{% url 'kernel_data' 42 %}".replace('42', pk);
        window.addEventListener('DOMContentLoaded', () => {
            $('.vz-container').each((_, element) => new KernelVisualization(element));
        });
    </script>
{% endblock %}
